<%- include('includes/head'); %>

  <section class="container">
    <h1> <%= umaVariavelLocal %></h1> <!-- pegando a varivel local do arquivo middleware -->
    <form action="/" method="post">
      <label>Cliente</label>
      <input type="text" name="Cliente" >
      <button>submit</button>
    </form>
  </section>

  <%- include('includes/footer'); %>